[Unit]
Description=dnslr-rs
After=network.target
ConditionPathExists=/home/thibaut/Desktop/rustproj/dnsliar-rs/dnslr-rs.conf

[Service]
Restart=on-failure
RestartSec=2
StartLimitInterval=0
Type=simple
Restart=always
ExecStart=/home/thibaut/Desktop/rustproj/dnsliar-rs/target/release/dnsliar-rs
WorkingDirectory=/home/thibaut/Desktop/rustproj/dnsliar-rs/
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dnslr-rs
Environment="TOKIO_WORKER_THREADS=8"

[Install]
WantedBy=multi-user.target