[Unit]
Description=dnsblrsd
After=network.target
ConditionPathExists=/home/thibaut/Desktop/rustproj/DnsBlackList-rs/dnsblrsd.conf

[Service]
Restart=on-failure
RestartSec=2
StartLimitInterval=0
Type=simple
Restart=always
ExecStart=/home/thibaut/Desktop/rustproj/DnsBlackList-rs/target/release/dnsblrsd
WorkingDirectory=/home/thibaut/Desktop/rustproj/DnsBlackList-rs/
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dnsblrsd
Environment="TOKIO_WORKER_THREADS=8"

[Install]
WantedBy=multi-user.target