[Unit]
Description=dnsblrsd
After=network.target
ConditionPathExists=

[Service]
User=dnsblrsd
Group=dnsblrsd
Restart=on-failure
RestartSec=5
StartLimitBurst=15
StartLimitIntervalSec=300
# StartLimitAction=none
Type=simple
ExecStart=
WorkingDirectory=
SyslogIdentifier=dnsblrsd
AmbientCapabilities=CAP_NET_BIND_SERVICE
# Environment="TOKIO_WORKER_THREAD=8"
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
